@import url('https://fonts.googleapis.com/css2?family=Libre+Caslon+Text:ital,wght@0,400;0,700;1,400&display=swap');


.video-container {
    position: relative;
    width: 100%;
    text-align: center;
  }
  
  .video-container video {
    width: 100%;
  }
  
  .text-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;   
    position: absolute;
    color: #FFF;
    font-family: "F37 Caslon", serif;
    font-weight: 100;
    font-size: 50px;
    letter-spacing: 2px;
    /* border: 2px solid red; */
    width: 900px;
  }

  .content_section{
    display: flex;
    padding: 60px;
  }

    .left{
        display: flex;
        flex-direction: column;
        width: 50%;
        padding-left: 50px;
    }

    .welcome{
        padding-left: 20px;
        padding-right: 20px;
        color: #647B4E;
        /* text-align: center; */
        font-family: "Rustica", sans-serif;
        font-size: 18px;
        font-style: normal;
        font-weight: 400;
        line-height: 100%;
        letter-spacing: 3.6px;
        text-transform: uppercase;
        margin-bottom: 30px;
        /* border: 2px solid red; */
        width: fit-content;
        margin-left: 35px;
    }

    .remarkable{
        text-align: center;
        font-size: 5rem;
        padding-left: 20px;
        padding-right: 20px;
        letter-spacing: -1px;
        line-height: 3.3rem;
        color: #1A4122;
        font-family: "F37 Caslon", serif;
        font-style: normal;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 24px;
        width: 400px;
        line-height: 70px;
        letter-spacing: 2px;
        /* border: 2px solid red; */
        /* letter-spacing: 4px; */
    }

    .writing{
        max-width: 490px;
        margin-top: 30px;
        margin-right: 10px;
        color: #1A4122;
        /* padding-left: 50px; */
        /* padding-right: 20px; */
        font-size: 20px;
        line-height: 140%;
    }

    .btn{
        margin-left: 90px;
        margin-top: 30px;
        background-color: #cf2e2e;
        padding: 10px;
        border-radius: 30px;
        width: 200px;
        color: white;
        transition: .3s linear;
    }

    .btn:hover{
        background-color: #ff6900;
    }

    .right{
        width: 50%;
        padding-left: 50px;
    }

    .carousel-cell {
        width: 100%; 
        height: 500px; 
        margin-right: 10px;
      }

      .custom-nav{
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 86px;
        margin-top: -40px;
      }

      .wedding_section{
        display: flex;
        padding: 60px;
      }

      .wed_left{
        width: 50%;
      }

      .wed_right{
        width: 50%;
      }

      .wed_head{
        text-align: center;
        font-size: 5rem;
        padding-left: 20px;
        padding-right: 20px;
        letter-spacing: -1px;
        line-height: 3.3rem;
        color: #1A4122;
        font-family: "F37 Caslon", serif;
        font-style: normal;
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 24px;
        width: 600px;
        line-height: 70px;
        letter-spacing: 2px;
        /* border: 2px solid red; */

      }

      .wed_container{
        display: flex;
        justify-content: space-between;
        gap: 40px;
      }

      .wed_txt{
        color: #1A4122;
        font-family: "futura-pt", sans-serif;
        font-size: 21px;
        font-weight: 300;
        line-height: 140%;
      }

      .wed_txt h4{
        color: #1A4122;
        font-family: "futura-pt", sans-serif;
        font-size: 25px;
        font-weight: 500;
        line-height: 140%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

  